<div class="perfil">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL4tmEvqnuH4wy47fGSP0KmnmugHr4yXV5ean9M3P88pIcIHn7rA"/>
    <h3>Tallys Henrike</h3>
    <h6>tallys.henrike@gmail.com</h6>
</div>

<ul class="itens-do-menu">
    <li class="item-do-menu"><a routerLinkActive="ativo" [routerLink]="['/relatorios']">Relatórios</a></li>
    <li class="item-do-menu"><a routerLinkActive="ativo" [routerLink]="['/faturas']">Faturas</a></li>
    <li class="item-do-menu"><a routerLinkActive="ativo" [routerLink]="['/produtos']">Produtos</a></li>
    <li class="item-do-menu"><a routerLinkActive="ativo" [routerLink]="['/perfil']">Perfil</a></li>
</ul>