nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgba(66, 66, 66, .2);
    transition: 0.5s;
    transition-property:
        background-color,
        height,
        box-shadow;
}

.fixo{
    top: 0px;
    position: fixed;
    /*height: 60px;*/
    background-color: rgba(66, 66, 66, 1);
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}

a{
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

.ativo{
    color: var(--cor-padrao);
    font-weight: bold;
}

.categorias{display: none;}

@media (max-width: 768px) {
    nav{
        justify-content: space-evenly;
    }

    .categorias{
        display: flex;
        align-items: center;
        background-image: linear-gradient(135deg, #424242, #212121);
        border: 3px solid var(--cor-padrao);
        border-radius: 10px;
        height: 45px;
        box-sizing: border-box;
    }
}