<div class="inscrever">
    <form-usuario
        class="formulario"
        *ngIf="true">
    </form-usuario>

    <div class="lateral">
        <h3>Organizador</h3>
        <img [caminhoDaImagem]="'https://picsum.photos/id/1/300/150'" LazyLoadingIMG class="lazy">
        <span>Lorem ipsum dolor sit amet</span>

        <ul class="itens-do-menu">
            <li class="item-do-menu">
                <a [class.ativo]="true">Dados pessoais</a>
                <a [class.ativo]="false">Endereço</a>
                <a [class.ativo]="false">Pagamento</a>
            </li>
        </ul>
    </div>
</div>