<div class="cartoes">
    <div class="cartao">
        <img [caminhoDaImagem]="'/assets/4.jpg'" LazyLoadingIMG class="lazy"/>
        <div class="conteudo">
            <div class="titulo">Lorem ipsum dolor sit amet</div>
            <div class="conteudo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In libero nunc, tristique eu varius in, malesuada vel odio. Donec ut turpis at sem condimentum facilisis a ut sem. Sed efficitur fringilla sodales. Sed ante magna, aliquet et lectus nec, convallis pulvinar arcu. Ut vel semper enim. Nunc aliquet velit eget luctus vulputate.</div>
        </div>
    </div>
</div>