nav{
    display: flex;
    height: 15vh;
    min-height: 70px;
}

a{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2.5rem;
    color: #fff;
    transition: 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition-property:
        background-color,
        color;
}
a:nth-of-type(1){
    background-color: #6d4c41;
}
a:nth-of-type(2){
    background-color: #607d8b;
}

a:nth-of-type(1).ativo{
    background-color: #4e342e;
    color: #7c4dff;
}
a:nth-of-type(2).ativo{
    background-color: #546e7a;
    color: #03a9f4;
}