<header class="titulo-principal">
    {{evento?.titulo}}
</header>
<div class="descricao" [innerHtml]="evento?.corpo"></div>

<inscrever></inscrever>

<div class="titulo esquerda">
    <h4 *ngIf="evento?.patrocinadores?.length > 1">Patrocinadores</h4>
    <h4 *ngIf="evento?.patrocinadores?.length == 1">Patrocinadores</h4>
</div>
<div class="patrocinador" *ngIf="evento?.temPatrocinio">
    <patrocinador
        *ngFor="let patrocinador of evento?.patrocinadores"
        [patrocinador]="patrocinador">
    </patrocinador>
</div>

<div class="titulo esquerda">
    <h4>Localização</h4>
</div>
<iframe
    [src]="sanitizer.bypassSecurityTrustResourceUrl(evento?.urlDoGoogleMaps)"
    frameborder="0"
    allowfullscreen
    class="localizacao">
</iframe>